[submodule "scripts/ArknightsGameData"]
	path = scripts/ArknightsGameData
	url = https://github.com/Kengxxiao/ArknightsGameData
[submodule "scripts/ArknightsAssetsGamedata"]
	path = scripts/ArknightsAssetsGamedata
	url = https://github.com/ArknightsAssets/ArknightsGamedata